---
import bebe from "../../public/sinfondo.svg";
---

<section
  class="min-h-screen relative flex items-center justify-center overflow-hidden"
>
  <img
    src={bebe.src}
    alt=""
    class="absolute inset-0 w-full h-full object-cover z-0 opacity-60"
  />

  <!-- Overlay pastel suave -->
  <div
    class="absolute inset-0 bg-gradient-to-b from-purple-100/50 to-pink-100/50 z-10"
  >
  </div>

  <!-- Contenido de texto -->
  <div class="relative z-20 text-center px-3 sm:px-4 md:px-6">
    <h2
      class="text-3xl sm:text-4xl md:text-5xl font-bold text-purple-800 mb-3 sm:mb-4 drop-shadow-lg"
    >
      Confirmar asistencia.
    </h2>
    <p
      class="text-base sm:text-lg md:text-xl text-purple-700 max-w-xs sm:max-w-md md:max-w-2xl mx-auto drop-shadow-md"
    >
      Quiero que seas parte de este gran momento, que sera un hermoso recuerdo
      para mi, los espero.
    </p>
  </div>
</section>
