---
import HADAESTRELLA from "../../public/hadaestrella.svg";
---

<section
  class="min-h-screen relative flex items-center justify-center overflow-hidden -mt-20"
>
  <img
    src={HADAESTRELLA.src}
    alt=""
    class="absolute w-full h-full object-contain opacity-60 object-top max-w-4xl mx-auto filter: hue-rotate(340) saturate(150)"
  />

  <!-- Overlay pastel suave con transición superior -->
  <div
    class="absolute inset-0 bg-linear-to-b from-white/30 via-purple-100/50 to-pink-100/50 z-10"
  >
  </div>

  <!-- Contenido de texto -->
  <div class="relative z-20 text-center px-3 sm:px-4 md:px-6">
    <p
      class="text-base sm:text-lg md:text-4xl text-purple-700 max-w-xs sm:max-w-md md:max-w-2xl mx-auto drop-shadow-md"
    >
      Hace un año llego a nuestra vidas <br /> un regalo que lleno todo de luz <br
      />
      nuestra amada
      <p
        class="text-2xl sm:text-3xl md:text-4xl font-extrabold text-purple-800"
      >
        Oriana.
      </p>
    </p>
    <p
      class="mt-10 text-base sm:text-lg md:text-4xl text-purple-700 max-w-xs sm:max-w-md md:max-w-4xl mx-auto drop-shadow-md"
    >
      Hoy, con el corazon lleno de gratitud <br />por este primer año de amor, <br
      />
      aprendizaje y pequeñas maravillas, <br />queremos celebrar su vida
      contigo.
    </p>
  </div>
</section>
